.rgpd {
  h1,
  p,
  ul,
  li {
    text-align: center;
    margin: 4rem;
  }
  h1 {
    font-size: 2em;
  }
  margin-top: 2em;
  margin-bottom: 6.25em;
}

.WhoWeAre {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.25em;
  margin-bottom: 0.3em;

  h1 {
    font-size: 2em;
    text-align: center;
    margin: 2rem;
  }

  .introduction {
    font-size: 1.1em;
    margin-bottom: 15px;
  }

  p {
    font-size: 1em;
    margin-bottom: 15px;
  }

  .missionVision {
    font-size: 1.5em;
    text-align: center;
    margin: 2rem;
  }

  .engagement {
    font-style: italic;
    font-size: 1.1em;
    margin-top: 20px;
  }
}
