$box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.3);
$box-shadowMB: 0px 6px 5px 0px rgba(0, 0, 0, 0.3);
$box-shadowWB: 0px 6px 5px 0px rgba(0, 0, 0, 0.3);

.main {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 2em auto 2em auto;

  form {
    position: relative;

    .searchBar {
      width: 70vw;
      background-color: #ffffff94;
      border: none;
      border-radius: 1rem;
      padding: 1.3rem 0 1.3rem 2rem;
      background-color: #f0f0f0a6;
      font-size: medium;
      -moz-box-shadow: $box-shadowMB;
      -webkit-box-shadow: $box-shadowWB;
      box-shadow: $box-shadow;
    }

    button {
      position: absolute;
      top: 5px;
      right: 6px;
      background-color: #ca2061;
      padding: 1.2rem 1.5rem 1.2rem 1.5rem;
      border: none;
      border-radius: 1rem;
      color: #fff;
      text-align: center;
      align-content: center;
      font-size: 1.5rem;
      &:active {
        background-color: #a10440;
      }
    }
  }
}
