.avatar {
  height: 200px;
  width: 150px;
}

.signupCompany {
  flex-direction: column;
  align-content: space-around;
  margin-left: 40%;
  margin-right: 40%;
}

.signupCompany .formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-bottom: 1em;
}

.signupCompany .formGridPassword {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 1em;
}

.signupCompany div {
  display: flex;
  flex-direction: row;
}

.signupCompany div p {
  display: flex;
  align-items: center;
}

.signupCompany div input {
  height: 4em;
  width: 10em;
}

.signupCompany div textarea {
  height: 4em;
  width: 10em;
}

.notification {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
  margin-bottom: 2em;
}

.confirmButtonCompany {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.showButton {
  display: flex;
  justify-content: center;
  margin-left: 1em;
  width: 3em;
}
