.signupCandidate {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-left: 40%;
  margin-right: 40%;
}

.signupCandidate .formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-bottom: 1em;
}

.signupCandidate .formGridPassWord {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 1em;
}

.signupCandidate div p {
  display: flex;
  align-items: center;
}

.signupCandidate div input {
  height: 4em;
  width: 10em;
}

.confirmButtonCandidate {
  display: flex;
  justify-content: space-around;
  height: 5em;
  margin-right: 30em;
  margin-left: 30em;
}

.notification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.notification input {
  width: 10px;
}

.confirmButtonCandidate {
  display: flex;
  margin-top: 3em;
  margin-bottom: 3em;
}

.showButton {
  display: flex;
  justify-content: center;
  margin-left: 1em;
  width: 3em;
}
