.avatar {
  height: 200px;
  width: 150px;
}

.signupCompany {
  flex-direction: column;
  align-content: space-around;
  margin-left: 40%;
  margin-right: 40%;
}

.signupCompany .formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.signupCompany .formGridPassWord {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}

.signupCompany div {
  display: flex;
  flex-direction: row;
}

.signupCompany div p {
  display: flex;
  align-items: center;
}

.signupCompany div input {
  height: 4em;
  width: 10em;
}

.signupCompany div textarea {
  height: 4em;
  width: 10em;
}
