:root {
  --primary: #ca2061;
  --secondary: #851342;
  --gray-1: #000b29;
  --gray-2: #efefef;
  --gray-3: #7f7f91;
  --backgroundColor: #ffffff;
  --font-family: "Jost", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 10%);
  --box-shadow-nav: rgba(187, 161, 79, 0.05) 0px 2px 18px 0px;
  --text-color: #444;
}
