.aside {
  ul {
    li {
      span {
        margin-left: 16px;
      }
    }
  }
}

.button {
  border: 1px;
  background-color: #851342;
  margin-left: 16px;
}

.disconnect {
  margin-left: 16px;
  margin-top: 450px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
}
