.navBar {
  box-shadow: 0 0 0.5px 0.3px rgba(0, 0, 0, 0.15);
  background-color: #efefef;
  border-bottom: 0.3em solid #ca2061;
  nav {
    gap: 4rem;
    padding: 0;
    ul {
      gap: 4em;
      li {
        i {
          font-size: 5rem;
        }
        p {
          border-bottom: 0.3em solid #ca2061;
        }
      }
    }
    img {
      max-width: 25rem;
    }
  }
}

@media (max-width: 768px) {
  .navBar {
    nav {
      gap: 2em;
      img {
        content: url("../../assets/images/EXTERNATIC-LOGO2.png");
      }
      div {
        ul {
          gap: 0.4em;
          first-child {
            text-align: center;
          }
        }
      }
    }
    .connexionImg {
      display: none;
    }
  }
}

.link {
  font: 120% jost;
  background-color: var(--secondary);
  color: var(--gray-2);
  border-style: none;
  border-radius: 0.4em;
  width: 8em;
  height: 2em;
  margin: 1em;
  text-align: center;
  u {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 0.2em;
  }

  @media (max-width: 768px) {
    font: 120% jost;
    width: 7em;
    right: 0;
  }
}

.link:hover {
  background-color: transparent;
  color: var(--primary);
  border: 0.1em solid var(--primary);
}

.linkLogo {
  display: flex;
  align-items: center;
  gap: 2em;

  p {
    border-bottom: 0.3em solid #ca2061;
  }

  @media (max-width: 768px) {
    font: 100% jost;
    gap: 1em;
  }
}
