.Error404 {
  h1 {
    font-size: 3em;
    text-align: center;
  }
  margin: 6em 0 28.9em 0;

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 1.5em;
    }
    margin: 6em 0 11.8em 0;
  }
}
