body {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* MAIN */

main .title {
  display: flex;
  justify-content: center;
}

/* MAIN SELECTION */

main .selection {
  display: flex;
  justify-content: center;
}

main .selection .candidate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5em;
}

main .selection .company {
  display: flex;
  justify-content: center;
  align-items: center;
}
