.footer {
  color: #fff;
  background-color: var(--primary);
  padding: 4rem;
  bottom: 0;

  ul {
    justify-content: space-between;
  }

  p,
  a {
    margin-top: 0;
    color: #fff;
  }

  @media (max-width: 768px) {
    padding: 2rem;

    ul {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}
