.footer {
  color: #fff;
  background-color: var(--primary);
  padding: 4rem;
  ul {
    justify-content: space-between;
  }
  p {
    margin-top: 0;
    color: #fff;
  }
  a {
    color: #fff;
  }
}
