.companySection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  border: 0.1em solid;
  border-radius: 1em;
  border-color: #ca2061;
  margin: 3em 0.5em;
  background-color: #e0e0e0;

  @media (-width: 768px) {
    flex-direction: column;
    margin: 2em;
    padding: 2em 0;
  }
}

.p {
  width: 300px;

  @media (max-width: 768px) {
    width: 200px;
  }
}

.divButton {
  display: flex;
  justify-content: space-around;
  margin-left: 1em;
  gap: 2em;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 2em;
  }
}

.notification {
  text-align: center;
  margin-top: 2em;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.imageSignup {
  border-radius: 0.7em;
  max-width: 80%;
  @media (max-width: 768px) {
    display: none;
  }
}

.divImage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.input {
  font: 100% jost;
  background-color: var(--gray-2);
  color: var(--gray-1);
  border-style: none;
  border-radius: 0.4em;
  padding: 0.6em;
}

.signupCompany {
  @media (max-width: 768px) {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.showPassword {
  border-style: none;
  background-color: transparent;
  border-top: 0.2em;
}

.companyButton {
  font: 100% jost;
  background-color: var(--secondary);
  color: var(--gray-2);
  border-style: none;
  border-radius: 0.4em;
  padding: 0.8em 1em;
  display: flex;
  align-items: center;
  margin: 1em;

  @media (max-width: 768px) {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.signDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  margin-top: 4em;
  margin-left: 4em;

  @media (max-width: 768px) {
    width: 70%;
    flex-direction: column;
    gap: 0;
  }
}

.password {
  display: flex;
  align-items: center;
  gap: 1em;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.checkPicture {
  height: max-content;
  margin-top: 1.5em;
}

.inputArea {
  width: 15em;
  height: 15em;
  font: 100% jost;
  background-color: var(--gray-2);
  color: var(--gray-1);
  border-style: none;
  border-radius: 0.4em;
  padding: 0.6em;

  @media (max-width: 768px) {
    width: 10em;
    height: 10em;
  }
}
